.post_card {
    box-shadow: 9px 12px 20px 0px black;
    background-color: lightgray;
    border: 2px solid white;
    border-radius: 10px;
    position: relative;

    .author_name {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 10px;
        opacity: 0;
        transition: opacity .1s linear;
    }

    &:hover .author_name {
        opacity: 1;
    } 

    .category_link {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.nav_page_control {
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 20px 15px rgba(0,0,0,0.37); 
    box-shadow: 0px 10px 13px -7px #000000, 0px 0px 20px 15px rgba(0,0,0,0.37);
    transition: all .2s ease-in-out;

    &:hover {
        -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 15px 20px rgba(0, 0, 0, 0.37); 
        box-shadow: 0px 10px 13px -7px #000000, 0px 0px 15px 20px rgba(0, 0, 0, 0.37);
    }
}