.post_card {
    box-shadow: 9px 12px 20px 0px black;
    background-color: lightgray;
    border: 2px solid white;
    border-radius: 10px;
    position: relative;

    .author_name {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        opacity: 0;
        transition: opacity .1s linear;
    }

    &:hover .author_name {
        opacity: 1;
    } 
}